<div class="jumbotron">
  <h1>Appname</h1>
  <p class="lead">
 Dein persoenlicher Stressguard
 </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/signup">Jetzt anmelden!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing panel panel-default panel-success">
  <div class="panel-heading"><h4><span class="glyphicon glyphicon-star"></span> Features</h4></div> 
  <div class="panel-body">
  <ul>
           <li>Anzeige des Blutdrucks </li>
           <li>Stresserkennung dank Kopplung mit Wearables</li>
           <li>Massnahmen gegen Stress situationsabh&auml;ngig anzeigen</li>
           <li>Lernende Software - Stresssituationen im Vorraus vermeiden</li>
           <li>Tipps gegen Stress</li>
  </ul>
  </div>
</div>
